.container {
	border-style: double;
	border-color: ghostwhite;
	border-width: 10px;
	padding: 20px;
	background-image: url("/img/code_bg_bin.png");
	opacity: .8;
}
#objective {
	padding: 2px;
}
body .pic {
	background-image: url("/img/rain_code.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
body {
	padding-top: 20px;
	padding-bottom: 10px;
}
.img-circle {
	border-radius: 100%;
	width: 160px;
	height: 160px;
	position: absolute;
	left: 20%;
	top: 35%;
}
.color {
	background-image: url("/img/cloud_sky.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: .7;
}
div.pic.dont-show {
	background-image: none;
	background-color: grey;
	border-style: double;
	border-color: ghostwhite;
	border-width: 10px;
	padding: 20px;
}
.img { 
	color: lightblue;
	background-color: lightblue;
	list-style-image: block;
	width: 40px;
	height: 40px;
}
.gmail {
	position: static;
	left: 100px;
}
.link {
	position: static;
	top: -50px;
}
.github {
	position: static;
	top:-50px;
	right: 50px;
}
.calculator-img {
	position: relative;
	left: 40%;
	height: 200px;
	width: 200px;
}
.splinter-img {
	position: relative;
	left: 40%;
}
.wmap-img {
	position: relative;
	left: 40%;
	height: 200px;
	width: 200px;
}
.text {
	color: black;
}
#login {
	position: absolute;
	top: 55px;
}
.form-text {
	color: black;
}
.contact {
	border: solid 1px;
	border-radius: 100%;
}
div.progress {
	width: 200px;
	position: relative;
	left: 20%;
	top: 40%;
	border: 1px solid papayawhip;
	opacity: 1;
}
div.progress.splinter {
	width: 200px;
	position: relative;
	left: 20%;
	top: 80%;
	border: 1px solid papayawhip;
	opacity: 1;
}
.nothing {
	background-color: transparent;
	width: 100%;
	height: 999px;
}
.location {
	position: relative;
	float: right;
	font-weight: bolder;
	color: black;

}
/*animated section*/
@keyframes rain {
	0% { top: 790px; opacity: .8; }
	5% { top: 85 0px; opacity: 1; }
	10% { top: 890px; opacity: .4; }
	15% { top: 870px; opacity: .2; }
	20% { top: 910px; opacity: .6; }
	25% { top: 950px; opacity: .8; }
	30% { top: 990px; }
	35% { top: 1030px; opacity: .4; }
	40% { top: 1070px; opacity: .2; }
	45% { top: 1110px; opacity: .6; }
	50% { top: 1150px; opacity: .8; }
	55% { top: 1190px; opacity: .4 }
	60% { top: 1230px; opacity: .2; }
	65% { top: 1270px; opacity: .4; }
	70% { top: 1310px; opacity: .2; }
/*	75% { top: 1350px; opacity: .6; }
	80% { top: 1390px; opacity: .6; }*/
}
.one {
	position: absolute;
	left: 45.5%;
	opacity: .4;
	animation: rain 1.6s linear infinite;
	animation-dalay: 2s;
	font-size: 150%;
}
.zero {
	position: absolute;
	left: 47.5%;
	opacity: .4;
	animation: rain 2s linear infinite;
	animation-delay: .5s;
	font-size: 150%;
}
.one1 {
	position: absolute;
	left: 49.5%;
	opacity: .4;
	animation: rain 3s linear infinite;
	animation-delay: .1s;
	font-size: 150%;
}
.zero1 {
	position: absolute;
	left: 51.5%;
	opacity: .4;
	animation: rain 1s linear infinite;
	animation-dealy: 2s;
	font-size: 150%;
}
.one2 {
	position: absolute;
	left: 53.5%;
	opacity: .4;
	animation: rain 1.2s linear infinite;
	animation-delay: .01s;
	font-size: 150%;
}
.subone {
	position: absolute;
	left: 46.5%;
	opacity: .4;
	animation: rain 2s linear infinite;
	animation-dalay: 1s;
	font-size: 150%;
}
.subzero {
	position: absolute;
	left: 48.5%;
	opacity: .4;
	animation: rain 1s linear infinite;
	animation-delay: .3s;
	font-size: 150%;
}
.subone1 {
	position: absolute;
	left: 50.5%;
	opacity: .4;
	animation: rain 2s linear infinite;
	animation-delay: .1s;
	font-size: 150%;
}
.subzero1 {
	position: absolute;
	left: 52.5%;
	opacity: .4;
	animation: rain 3s linear infinite;
	animation-dealy: 2s;
	font-size: 150%;
}
.subone2 {
	position: absolute;
	left: 54.5%;
	opacity: .4;
	animation: rain 1.4s linear infinite;
	animation-delay: .01s;
	font-size: 150%;
}